html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato' sans-serif;
}

.div {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}


.form__labelText {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin-right: 5px;
    padding-bottom: 5px;
    color: rgb(189, 189, 189);
}

.form__field {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 7px;
    width: 100%;
    max-width: 300px;
    border-radius: 50px;
}

.form__fieldset {
    border: 1px solid #ccc;
    background-color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin: 20px 20px;
}

.form__legend {
    background-color: teal;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}

.form__button {
    margin: 5px 0px;
    padding: 7px 20px;
    border-radius: 20px;
    border-style: none;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.form__button:hover {
    background-color: hsl(180, 100%, 20%);
}

.form__button:active {
    background-color: hsl(180, 100%, 15%);
    ;
}

.form__calculation {
    color: hsl(156, 100%, 50%);
}

.footer {
    border: 1px solid #ccc;
    background-color: hsla(0, 0%, 0%, 0.35);
    text-align: center;
    color: #ffffff;
    max-width: 100%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    margin-bottom: 1px;
}